<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Task Manager</h1>
      <nav>
        <a href="/tasks">Все задачи</a> |
        <a href="/tasks/new">Новая задача</a>
      </nav>
    </header>

    <main><%- body %></main>
  </body>
</html>
